<blockquote><p><strong>Adjust the plug-in configuration:</strong>

<p><strong>General settings</strong>.
<p><table width=100% bgcolor=#cccccc cellpadding=0 cellspacing=0 border=0>
<tr><td><table width=100% cellpadding=3 cellspacing=1 border=0>
<tr>
<td>Field Name<br></td><td>Description</td></tr>

<tr>
<td bgcolor=white>Plug-in name</td>
<td bgcolor=white>The plug-in configuration name.
</td></tr>
<tr>
<td bgcolor=white>Plug-in template</td>
<td bgcolor=white>The name of template a plug-in configuration is based on.
</td></tr>
<tr>
<td bgcolor=white>Active</td>
<td bgcolor=white>If the plug-in is used for payments (active - green tick) or not (disabled - red cross). To activate the plug-in check the box.
</td></tr>
<tr>
<td bgcolor=white>Preauthorization enabled</td>
<td bgcolor=white>Select the type of transactions to process: if you want to process only the transactions of the Preauth type (two-step transaction consisting of money preauthorization on a credit card and money capture), then check the Preauthorization enabled box, if you want to process the Sale transactions only (one-step without preauthorization), then leave this box clear.
</td></tr>
<tr>
<td bgcolor=white>Start services provisioning after transaction type</td>
<td bgcolor=white>The order of services provisioning in case you use the Preauth transactions.  Preauth - customers' orders are to be processed after the order total amount is preauthorized on a customer credit card. Capture - orders are to be processed only after money is captured from a customer credit card.
</td></tr>
<tr>
<td bgcolor=white>Available card types</td>
<td bgcolor=white>Select at least one credit card type to be accepted by the plug-in from the <strong>Available credit card types</strong> menu. To select a credit card type to accept with the plug-in, click on a card type name and then click the &gt;&gt; button to move a card type to the <strong>Supported Card Types</strong> menu. To select several card types in series, hold down SHIFT, and then click the first and last card types of the group. To select several card types that are nonadjacent in the list, hold down CTRL, and click a credit card type.
</td></tr>

</table>
</td></tr></table>
</td>
</tr></table>

<p><strong>Plug-in setting</strong> 
<p><table width=100% bgcolor=#cccccc cellpadding=0 cellspacing=0 border=0>
<tr><td><table width=100% cellpadding=3 cellspacing=1 border=0>
<tr>
<td>Field Name<br></td><td>Description</td></tr>

<tr>
<td bgcolor=white>Test Mode</td>
<td bgcolor=white>Select the result of a transaction the Dummy plug-in will return as a payment gateway response from the Test Mode drop-down menu. The Dummy payment plug-in can emulate a payment gateway responses, and the following variants are available: Always approve, Always decline, or Always AuthCall (the additional security code to be submitted to finalize a transaction). Please, select the needed variant from the drop-down menu.
</td></tr>

</table>
</td></tr></table>
</td>
</tr></table>

<p><strong>Miscellaneous settings</strong>. Here you can enter plug-in description.
</p>
<p><table width=100% bgcolor=#cccccc cellpadding=0 cellspacing=0 border=0>
<tr><td><table width=100% cellpadding=3 cellspacing=1 border=0>
<tr>
<td>Field Name<br></td><td>Description</td></tr>
<tr>
<td bgcolor=white>Quick description of this payment method</td>
<td bgcolor=white>Enter the plug-in short description to be shown to your customers.
</td></tr>

</table>
</td></tr></table>
</td>
</tr></table>
</blockquote>
